$accent-color: #4677ff;

$arraylist-color-1: rgb(255, 179, 186);  // Светло-розовый
$arraylist-color-2: rgb(255, 223, 186);  // Персиковый
$arraylist-color-3: rgb(255, 255, 186);  // Светло-желтый
$arraylist-color-4: rgb(186, 255, 201);  // Мятный
$arraylist-color-5: rgb(186, 225, 255);  // Светло-голубой
$arraylist-color-6: rgb(186, 186, 255);  // Лавандовый
$arraylist-color-7: rgb(255, 186, 255);  // Светло-фиолетовый
$clickgui-color-8: rgb(175, 237, 76, 0.75);
$scoreboard-color-1: rgb(255, 0, 98);
$scoreboard-color-2: rgb(255, 255, 255);

$clickgui-base-color: black;
$clickgui-text-color: white;
$clickgui-text-dimmed-color: rgba(211, 211, 211, 255);

$tabgui-base-color: black;
$tabgui-text-color: white;
$tabgui-text-dimmed-color: rgba(211, 211, 211, 255);

$arraylist-base-color: black;
$arraylist-text-color: white;
$arraylist-tag-color: #AAAAAA;

$targethud-base-color: black;
$targethud-text-color: white;
$targethud-text-dimmed-color: rgba(211, 211, 211, 255);

$hotbar-base-color: black;
$hotbar-text-color: white;
/* TODO: currently unused */
$hotbar-experience-color: #88C657;
$hotbar-health-color: #FC4130;
$hotbar-hunger-color: #B88458;

$menu-account-premium-color: #67D24A;
$menu-base-color: black;
$menu-text-color: white;
$menu-text-dimmed-color: rgba(211, 211, 211, 255);
$menu-error-color: #fc4130;

$scoreboard-base-color: black;

$keystrokes-base-color: black;
$keystrokes-text-color: white;
